<launch>
  <!-- Configuration parameters -->
  <rosparam command="load" file="$(find otto_serial_driver)/config/firmware_parameters.yaml" />
  
  <!-- Serial port -->  
  <param name="serial_port" value="/dev/ttyUSB0"/>

  <!-- otto_serial-driver -->
  <node name="otto_serial_driver_node" pkg="otto_serial_driver" type="otto_serial_driver_node.py" output="screen"/>
  <node name="otto_odometry_node" pkg="otto_serial_driver" type="otto_odometry_node" output="screen"/>

</launch>
